form{
    width: 400px;
    margin: 20% 35%;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    text-align: center;
}
.tb, td{
    border: 1px solid red;
    background-color: rgb(137, 207, 216);
}
.tb{
    text-align: left; 
}