h2{
    text-align: center;
    color: rgb(240, 108, 130);
}
img{
    height: 60%;
    width: 25%;
    margin:0 5%;
    text-align: left;
    position: absolute;
}
font{
    color: white;
    background-color:  rgb(240, 108, 130);
}
a{
    color: blue;
}
#right{
    padding-left: 30%;
}
#button{
    margin-top: 5%;
    margin-left: 40%;
    font-weight: bold;
    color: purple;
    background-color: rgb(236, 199, 236);
}
ul.list{
    list-style-type: square;
}