form{
    width: 600px;
    margin: 10% 30%;
    border: 1px solid grey;
}
table{
    border-collapse: collapse;
    width: 96%;
    margin: 2%;
}
p{
    color: green;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
td{
    border: 1px solid grey;
    background-color:rgb(201, 235, 201);
}
.col1{
    width: 40%;
    color: rgb(5, 116, 5);
}
.but{
    text-align: center;
}
.in1, .in2,.in3,.in4{
    margin: 1px;
}
.in1{
    width: 85%;
}
.in2{
    width: 75%;
}
.in4{
    width: 25%;
}
font{
    color: rgb(5, 116, 5);
}